#root {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.counter, .todo-container {
    text-align: center;
    color: white;
    width: 100%;
    padding: 24px;
}

.counter-gui {
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 180px;
    margin: 0 auto;
    align-items: center;
    gap: 8px;
    padding: 2px;
    border-radius: 32px;
    margin-bottom: 16px;
}

.count-value {
    color: black;
    flex-grow: 1;
    font-weight: 400;
    font-family: monospace;
}

.counter {
    background: linear-gradient(45deg, #002C24, #005144);
}

.counter-btn {
    padding: 8px 12px;
    color: inherit;
    border: none;
    background-color: rgb(76, 0, 207);
    border-radius: 32px;
}

.todo-container {
    background-color: #E3E9FF;
}

.todo-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    width: 75%;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 16px;
}

.todo-input {
    border: none;
    border-bottom: 2px solid #AF7EEA;
    color: white;
    background-color: #AF7EEA23;
    padding: 8px;
    color: #AF7EEA;
    flex-grow: 1;
}

.todo-input::placeholder {
    color: #AF7EEA;
}

.add-todo-btn {
    background-color: #AF7EEA;
    padding: 8px 12px;
    border: none;
    color: white;
}

.todo-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 75%;
    max-width: 600px;
    margin: 0 auto;
    color: rgb(95, 94, 94);
    padding: 12px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 4px;
}

.profile-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #F4F9EA;
    width: 100%;
}

.card, .profile-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 12px;
}

.profile-card {
    background-color: #C8687B;
    padding: 16px;
}