#root {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.counter, .todo-container {
    text-align: center;
    color: white;
    width: 100%;
    padding: 24px;
}

.counter-gui {
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 180px;
    margin: 0 auto;
    align-items: center;
    gap: 8px;
    padding: 2px;
    border-radius: 32px;
    margin-bottom: 16px;
}

.count-value {
    color: black;
    flex-grow: 1;
    font-weight: 400;
    font-family: monospace;
}

.counter {
    background: linear-gradient(45deg, #002C24, #005144);
}

.counter-btn {
    padding: 8px 12px;
    color: inherit;
    border: none;
    background-color: rgb(76, 0, 207);
    border-radius: 32px;
}

.todo-container {
    background-color: darkorange;
}